/* forms */

input[type=text] {
	border: 1px solid #888;
	border-radius: 3px;
	color: #666;
	font-family: courier;
	font-size: 1.0em;
	padding: 4px;
}

input[type=button] {
	background-color: #888;
	border: solid 1px #888;
	border-radius: 3px;
	color: snow;
	font-size: .8em;
	padding: 4px;
}
