/* layout */

/* topContainer */

div.topContainer {
	overflow: auto;
}

ul.quickLinks {
	float: right;
	margin: 0 0 1em 0;
	/* http://www.w3schools.com/css/css_float.asp */
	/* http://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float_ex */
	overflow: auto;
	padding: 0;
}

ul.quickLinks li.link {
	float: left;
	list-style: none;
	margin-right: 1em;
}

/* crumbTrail */

ul.crumbTrail {
	margin: 0 0 1em 0;
	/* http://www.w3schools.com/css/css_float.asp */
	/* http://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float_ex */
	overflow: auto;
	padding: 0;
}

ul.crumbTrail li.firstCrumb,
ul.crumbTrail li.crumb {
	float: left;
	margin-right: 1em;
	padding-left: .5em;
	margin-left: 1em;
}

ul.crumbTrail li.firstCrumb {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

//ul.crumbTrail li.crumb::after {
//    content: " >";
//}

/* titlebar */

div.mainContainer,
div.titlebarContainer {
	border: 1px solid #666;
	border-radius: 12px;
	background-color: #f7f3f7;
	margin: 0 0 1.5em 0;
	overflow: auto;
	padding: 1em;
}

ul.titlebar {
	margin: 0;
	padding: 0;
}

ul.titlebar li.item {
	color: #666;
	list-style: none;
	font-size: 2em;
}

span.title {
	font-size: 4em;
}
