/* base */
body {
  color: #666;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #aa0000; }

/* layout */
/* topContainer */
div.topContainer {
  overflow: auto; }

ul.quickLinks {
  float: right;
  margin: 0 0 1em 0;
  /* http://www.w3schools.com/css/css_float.asp */
  /* http://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float_ex */
  overflow: auto;
  padding: 0; }

ul.quickLinks li.link {
  float: left;
  list-style: none;
  margin-right: 1em; }

/* crumbTrail */
ul.crumbTrail {
  margin: 0 0 1em 0;
  /* http://www.w3schools.com/css/css_float.asp */
  /* http://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float_ex */
  overflow: auto;
  padding: 0; }

ul.crumbTrail li.firstCrumb,
ul.crumbTrail li.crumb {
  float: left;
  margin-right: 1em;
  padding-left: .5em;
  margin-left: 1em; }

ul.crumbTrail li.firstCrumb {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

/* titlebar */
div.mainContainer,
div.titlebarContainer {
  border: 1px solid #666;
  border-radius: 12px;
  background-color: #f7f3f7;
  margin: 0 0 1.5em 0;
  overflow: auto;
  padding: 1em; }

ul.titlebar {
  margin: 0;
  padding: 0; }

ul.titlebar li.item {
  color: #666;
  list-style: none;
  font-size: 2em; }

span.title {
  font-size: 4em; }

/* forms */
input[type=text] {
  border: 1px solid #888;
  border-radius: 3px;
  color: #666;
  font-family: courier;
  font-size: 1.0em;
  padding: 4px; }

input[type=button] {
  background-color: #888;
  border: solid 1px #888;
  border-radius: 3px;
  color: snow;
  font-size: .8em;
  padding: 4px; }

/* boards */
/* nav */
ul.nav {
  margin: 0 0 1em 0;
  /* http://www.w3schools.com/css/css_float.asp */
  /* http://www.w3schools.com/css/tryit.asp?filename=trycss_layout_float_ex */
  overflow: auto;
  padding: 0; }

ul.nav li.link {
  float: left;
  list-style: none;
  margin-right: 1em; }

/* board */
ul.columns,
li.column {
  list-style: none;
  margin: 0;
  padding: 0; }

li.column {
  background-color: #e1e1e1;
  border-radius: 4px;
  float: left;
  margin-right: 4px;
  padding: 4px 8px;
  width: 15em; }

dl.card,
dl.card dt.card,
dl.card dd.card {
  margin: 0;
  padding: 0; }

dl.card {
  background-color: snow;
  border-radius: 3px;
  color: gray;
  font-size: 9pt;
  margin: 8px;
  padding: 12px; }

dd.card {
  border-bottom: 1px dotted #232323;
  font-weight: bold; }

ul.columns li.column p.columnName {
  color: snow;
  border-bottom: 2px solid snow; }
