extends ./layout

block content
	div.titlebarContainer
		ul.titlebar
			li.item
				span.title All Boards
	
	div.mainContainer
		h2 Boards
		ul#boardsContainer(class="boardsList")
		div.boardForm
			input#addBoardNameTextInput(type='text', placeholder='Board Name', name='boardName')
			input#addBoardButton(type='button', value='Add Board')

block javascript
	script(src="/js/common.js")
	script(src="/js/boards.js")